[Desktop Entry]
Name=WinSCP
Exec=env WINEPREFIX="/home/salvador/.wine" wine-stable C:\\\\windows\\\\command\\\\start.exe /Unix /home/salvador/.wine/dosdevices/c:/users/Public/Bureau/WinSCP.lnk
Type=Application
StartupNotify=true
Comment=WinSCP: Client SFTP, FTP, WebDAV et SCP
Path=/home/salvador/.wine/dosdevices/c:/Program Files (x86)/WinSCP
Icon=772B_WinSCP.0
StartupWMClass=winscp.exe
